#Header{
    height: fit-content;
    width: 90%;
    margin: auto;
}
#banner{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid #fe0016;
    margin-bottom: 15px;
}
#titleText{
    margin: auto;
    height: 100%;
    text-align: center;
    font-size: 50px;
    color: #fe0016;
}
#bannerImage{
    width: 200px;
    height: 110px;
    margin-left: 10px;
}

#score{
margin: auto;
}

#currentScore{
    padding-bottom: 2px;
    border-bottom: 1px solid ;
}

.scoreClass{
    font-size: 13px;
    padding-top: 4px;
}

